<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Estaciones</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
    <%- include("header") %>

    <h1 id="titulo">Home</h1>
    <section id="section-buttons">
        <button class="btn btn-home" onclick="location.href='http://localhost:3000/obras'">Obras</button>
        <button class="btn btn-home" onclick="location.href='http://localhost:3000/logs'">Logs</button>
    </section>
</body>
</html>